@model appWebEjemplo.Models.Alumno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombres" class="control-label"></label>
                <input asp-for="nombres" class="form-control" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidos" class="control-label"></label>
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="documento" class="control-label"></label>
                <input asp-for="documento" class="form-control" />
                <span asp-validation-for="documento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="codigoCarrera" class="control-label"></label>
                <select asp-for="codigoCarrera" asp-items="@ViewBag.carreras" class="form-select"></select>
                <span asp-validation-for="codigoCarrera" class="text-danger"></span>
            </div>



            <div class="form-group">
                <a asp-action="Create" class="btn btn-danger">Nuevo</a>
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="alert alert-primary" role="alert">
    @ViewBag.mensajeValidacion
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
